<header>
  <h1>Available Tests</h1>
  <p>Choose an test and start studying.</p>
<header>
  <div class="exams">
    <mat-card class="example-card" *ngFor="let exams of examsList" class="mat-elevation-z5">
      <mat-card-content>
        <mat-card-title>{{ exams.title }}</mat-card-title>
        <mat-card-subtitle>{{ exams.description }}</mat-card-subtitle>
        <p>{{exams.long_description}}</p>

        <div class="footer-buttons" >
          <app-start-button (click)="getExamById(exams.id)"></app-start-button>
          <button mat-mini-fab color="warn" (click)="deleteExam(exams.id)">
            <i class="material-icons">delete_outline</i>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <button mat-fab color="primary" class="new-exam" routerLink="/new-exam">
    <i class="material-icons">note_add</i>
  </button>
