.container{
  display: flex;
  justify-content: center;

}

.exam-container{
  display:flex;
  flex-direction: column;
  width: 320px;

  div{
    padding:10px 0;
  }

  input{
    width: calc(100% - 18px);
    width: -moz-calc(100% - 18px);
    width: -webkit-calc(100% - 18px);
  }
}
