header{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
li:before {
  content: "\f054"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

div.exams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding: 10px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  }
  ::-webkit-scrollbar{
    display:none;
}

button.new-exam {
  position: fixed;
  bottom: 10px;
  right: 25px;
}


@media (max-width: 720px) {
  div.exams {
    grid-template-columns: 1fr;
  }
}
