<header>
  <h2>About</h2>
  <p>
    This is a Study Project using Python/Flask and Angular.
    <br>
    Along theese technologies, we use Auth0 for authentication.
    <br>

    You can replicate this project following the instructions at:
    <br>
    <a href="https://auth0.com/blog/using-python-flask-and-angular-to-build-modern-web-apps-part-1/"> Using Python,
      Flask, and Angular to Build Modern Web Apps
    </a>
  </p>
</header>
<button mat-fab color="primary" class="back-button" routerLink="/">
  <i class="material-icons">chevron_left</i>
</button>
